html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    height: 100vh; 
    background-image: url('/Assets/login.avif'); 
    background-size: cover; 
    background-position: center; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
    background-repeat: no-repeat; 
  }
  

  .login-form {
    background-color: rgba(255, 255, 255, 0.85); /* Fondo blanco con opacidad */
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px; /* Tamaño máximo para que no se estire demasiado */
  }
  
  .card-body h3 {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .form-control {
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 15px;
  }
  
  .d-grid .btn {
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .d-grid .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .d-grid .btn-primary:disabled {
    background-color: #c0c0c0; 
  }
  
  .d-grid .btn:hover {
    background-color: #0056b3;
  }
  
  /* Mensajes de error */
  .text-danger {
    font-size: 12px;
    color: red;
    margin-top: 5px;
  }
  
  /* Para dispositivos móviles */
  @media (max-width: 576px) {
    .login-form {
      width: 90%;
    }
  }
  