
<div class="app-container">
  <div class="content">
    <app-navbar></app-navbar>


    <router-outlet></router-outlet>
  </div>
</div>

<!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">To-Do App</a>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/register">Registrarse</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/todo">Mis Tareas</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet> -->
