<div class="hero-container">
    <div class="text-center">
      <h1 class="display-3 text-white fw-bold">Organiza tu Vida</h1>
      <p class="text-white fs-5">Con nuestra To-Do List, llevar el control de tus tareas nunca fue tan fácil.</p>
      <div class="d-flex justify-content-center gap-3 mt-4">
        <button class="btn btn-primary btn-lg" routerLink="/login">Iniciar Sesión</button>
        <button class="btn btn-primary btn-lg" routerLink="/register">Registrarse</button>
      </div>
    </div>
  </div>
<footer class="footer bg-dark text-white text-center py-3">
    <p class="mb-0">© 2023 Octavio Molina. Todos los derechos reservados.</p>
</footer>